env
venv
virtenv
.idea
__pycache__
**/*.aux
**/*.toc
**/*.gz
**/*.snm
**/*.out
**/*.nav
**/*.log
**/*.aux
**/*.xml
**/*.log
**/*.blg
**/*.bbl
**/*blx.bib
code-input
automaton-input
linux-master
mpv-master
xrdp-devel
Ventoy-master
